<!DOCTYPE html>
<html lang="zh-TW">
    {{>htmlHead}}
    <body class="">
        <!-- BEGIN BODY -->
        <div class="main-wrapper">
            {{{body}}}
            {{> common/header}}
            {{> common/footer}}
        </div>
    </body>
</html>