<!-- BEGIN FOOTER -->
<footer class="footer">
    <div class="wrapper">
        <div class="footer_bot">
            <div class="footer_copy">© {{domain.title}} 2021. All rights reserved</div>
            <div class="footer_links">
                <a href="#">Privacy Policy</a> <span class="dash"></span> <a href="#">Terms & Conditions</a>
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER EOF   -->